@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* shadcn-ui variables */
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;

        /* sandclock variables */
        --white: #ffffff;
        --white-off: #fafafa;
        --gray: #9b9b9b;
        --gray-light: #e6e6e6;
        --gray-disabled: #bcb7aa;
        --brand: #01ff95;
        --brand-midnight-green: #222623;
        --brand-beige: #fff5e4;
        --red-light: #ef4444;
        --red-dark: #dc2626;
        --yellow-dark: #fdb022;
        --green-dark: #12b76a;
        --misc-staking-purple: #6c02f4;
        --misc-opal: #0038ff;
        --misc-emerald: #08a17d;
    }

    .dark {
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

#root {
    width: 100vw;
}

body {
    font-family: 'Aeonik', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
        url('/fonts/Aeonik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik-Bold.woff2') format('woff2'),
        url('/fonts/Aeonik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik-RegularItalic.woff2') format('woff2'),
        url('/fonts/Aeonik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
